{% extends 'base.html' %}
{% block header_poster %}

{% endblock header_poster %}
{% block main %}
<div class="container d-flex justify-content-center p-4"
style="margin-top: -50px;">
    <div class="col-4 mb-1 mt-1">
        <header style="margin-bottom: -50px;">
            <h3 class="text-center" style="color: white;">
                Регистрация
            </h3>
        </header>
        <div class="card-body" style="margin-top: 75px;">
            <form action="" method="post" enctype="multipart/form-data"
            style="color: black;">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" style="color: brown">
                        <b class="text-dark">Зарегистрироваться</b>
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Уже есть аккаунт ?
                        <a href="{% url 'login' %}" class="navbar-brand d-flex align-items-center" style="color: red;">
                            Войти
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
